@font-face {
    font-family: 'JameelNooriNastaleeqKasheeda';
    src: url('/bn_profile_management/static/font/noori_nastaleeq/Jameel-Noori-Nastaleeq-Kasheeda.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body {
    font-family: 'JameelNooriNastaleeqKasheeda', serif !important;
}
h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
    font-family: 'JameelNooriNastaleeqKasheeda', serif !important;
}
p {
    font-family: 'JameelNooriNastaleeqKasheeda', serif !important;
}
span {
    font-family: 'JameelNooriNastaleeqKasheeda', serif !important;
}
th {
    font-family: 'JameelNooriNastaleeqKasheeda', serif !important;
}
td {
    font-family: 'JameelNooriNastaleeqKasheeda', serif !important;
}
.page-break {
  page-break-before: always;
  break-before: page;
}
btn-primary[title="Print"]
{
display:none;
}