<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <menuitem id="menu_bn_audit_trial_root" name="Audit Trail" sequence="95"
        web_icon="bn_bn_audit_trial,static/description/icon.png"
        groups="bn_audit_trial.group_bn_audit_trial_viewer"/>

    <menuitem id="menu_bn_audit_trial_logs" name="Logs"
        parent="menu_bn_audit_trial_root"
        action="action_bn_audit_trial_log"
        sequence="10"/>

    <menuitem id="menu_bn_audit_trial_config" name="Configuration"
        parent="menu_bn_audit_trial_root"
        sequence="20"
        groups="bn_audit_trial.group_bn_audit_trial_manager"/>

    <menuitem id="menu_bn_audit_trial_rules" name="Audit Rules"
        parent="menu_bn_audit_trial_config"
        action="action_bn_audit_trial_rule"
        sequence="10"/>
</odoo>
