<?xml version="1.0" encoding="UTF-8"?>

<odoo>

    <record id="pos_registered_order_action" model="ir.actions.act_window">
        <field name="name">Registered Orders</field>
        <field name="res_model">pos.registered.order</field>
        <field name="view_id" ref="pos_registered_order_tree"/>
        <field name="view_mode">tree,form</field>
        <field name="help" type="html">
            <p class="o_view_nocontent_smiling_face">
                Create a new Registered Order!
            </p>
        </field>
        
    </record>

    <record id="handle_register_order_form_action" model="ir.actions.act_window">
        <field name="name">Handle Register Order</field>
        <field name="res_model">handle.registered.order</field>
        <field name="view_mode">form</field>
        <field name="target">new</field>
    </record>


    <menuitem id="menu_registered_orders"
        name="Registered Orders"
        parent="point_of_sale.menu_point_of_sale"
        action="pos_registered_order_action"
        sequence="101"/>
        
    <menuitem id="handle_register_order_form_menu" name="Process Order" sequence="120" parent="stock.menu_stock_root" action="handle_register_order_form_action"/>

    <!-- Syed Owais Noor -->
    <menuitem id="handle_register_order_invoice_menu" 
        name="Process Order" 
        sequence="36" 
        parent="account.menu_finance" 
        action="handle_register_order_form_action" />

</odoo>
