.pos-receipt-container {
    direction: ltr;
}

/* Preview in POS screen */
.receipt-screen .default-view .pos-receipt-container {
    flex-basis: 210mm; /* A4 width */
}

@page {
    padding: 20mm; /* A4 page margins */
}

@media print {
    body {
        background-color: transparent;
    }
    body * {
        visibility: hidden;
    }
    .pos, .pos * {
        position: static !important;
    }
    .render-container .pos-receipt * {
        visibility: visible;
        background-color: transparent !important;
        color: black !important;
    }
    .render-container .pos-receipt {
        margin: 0 !important;
        margin-left: auto !important;
        margin-right: auto !important;
        border: none !important;
        font-size: 14px !important;
        width: 210mm !important; /* changed from 266px to A4 */
        min-height: 297mm !important; /* optional: full A4 height */
        padding: 20mm; /* optional: margins inside page */
        box-sizing: border-box; /* ensures padding included in width */
    }
    .render-container {
        position: absolute !important;
        top: 10px;
        left: 10px;
    }
    .o-main-components-container  {
        position: absolute !important;
        top: 0;
        left: 0;
    }
}
