.receipt-screen .default-view .pos-receipt-container {
    flex-basis: 794px;
}

@page {
    padding: 4px;
}

@media print {
    body {
        background-color: transparent;
        font-family: Arial, sans-serif;
        font-size: 11px;
    }
    body * {
        visibility: hidden;
    }
    .pos, .pos * {
        position: static !important;
    }
    .render-container .pos-receipt * {
        visibility: visible;
        background-color: transparent !important;
        color: black !important;
    }
    .render-container .pos-receipt {
        margin: 0 !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
        border: none !important;
        font-size: 11px !important;
        width: 559px !important;
    }
    .render-container {
        position: absolute !important;
        top: 42px;
        left: 0;
    }
    .o-main-components-container  {
        position: absolute !important;
        top: 0;
        left: 0;
    }
}

