.pos-receipt-container {
    direction: ltr;
}

/* Preview in POS screen */
.receipt-screen .default-view .pos-receipt-container {
    flex-basis: 210mm; /* A4 width */
}

@page {
    margin-top: 360px;
    padding: 0; /* A4 page margins */
}

@media print {
    body {
        background-color: transparent;
    }
    body * {
        visibility: hidden;
    }
    .pos, .pos * {
        position: static !important;
    }
    .render-container .pos-receipt * {
        visibility: visible;
        background-color: transparent !important;
        color: black !important;
    }
    .render-container .pos-receipt {
        width: 200mm !important;
        min-height: auto !important; /* important: do not force 297mm */
        margin: 0 auto !important;
        padding: 10mm; /* optional */
        box-sizing: border-box;
    }
    .render-container {
        position: absolute !important;
    }
    .o-main-components-container  {
        position: absolute !important;
    }
}
