<?xml version="1.0" encoding="UTF-8" ?>
<odoo>
    <data>

        <menuitem id="menu_mfd_main"
                  name="MicroFinance Loan"
                  groups="base.group_user"
                  web_icon="microfinance_loan,static/description/icon.png"/>

        <menuitem id="menu_loan_and_recovery"
                  name="Loan &amp; Recovery"
                  parent="microfinance_loan.menu_mfd_main"
                  sequence="10"/>


        <menuitem id="menu_mfd_loan_request"
                  name="Loan Requests"
                  parent="microfinance_loan.menu_loan_and_recovery"
                  action="action_mfd_loan_request"/>

        <menuitem id="menu_mfd_recovery_loan"
                  name="Recovery Requests"
                  parent="microfinance_loan.menu_loan_and_recovery"
                  action="action_mfd_recovery_2"/>


        <menuitem id="menu_pdc_cheque"
                  name="Post Dated Cheques"
                  parent="microfinance_loan.menu_mfd_main"
                  sequence="11"
                  action="action_pdc_cheque"/>

        <menuitem id="menu_mfd_installment_receipt"
                  name="Installment Receipts"
                  parent="microfinance_loan.menu_mfd_main"
                  sequence="12"
                  action="action_mfd_installment_receipt"/>

        <menuitem id="menu_mfd_configuration"
                  name="Configuration"
                  parent="microfinance_loan.menu_mfd_main"
                  sequence="13"/>

        <menuitem id="menu_mfd_customer_reg"
                  name="Customers Registration"
                  parent="menu_mfd_configuration"
                  action="bn_profile_search.search_record_microfinance_action"/>
        
        <menuitem id="menu_mfd_customer"
                  name="Customers"
                  parent="menu_mfd_configuration"
                  action="bn_profile_management.master_donee_action"/>

        <menuitem id="menu_mfd_scheme"
                  name="Scheme"
                  parent="menu_mfd_configuration"
                  action="action_mfd_scheme"/>

        <menuitem id="menu_mfd_bank"
                  name="Bank"
                  parent="menu_mfd_configuration"
                  action="action_mfd_bank"/>

        <menuitem id="menu_mfd_account_configuration"
                  name="Account Configuration"
                  parent="menu_mfd_configuration"
                  action="action_mfd_account_configuration"/>

        <menuitem id="main_menu_mfd_reporting"
                  name="Reporting"
                  parent="menu_mfd_configuration"/>

        <menuitem id="menu_mfd_report"
                  name="Report"
                  parent="main_menu_mfd_reporting"
                  action="action_mfd_report"/>

    </data>
</odoo>