.tags-container {
    display: flex !important;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px;
    flex-wrap: wrap;
    gap: 5px;
  }
  
  #tags {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
  }
  
  .tag {
    display: flex;
    align-items: center;
    background-color: #007bff;
    color: white;
    padding: 5px 10px;
    border-radius: 12px;
    font-size: 14px;
  }
  
  .tag .close {
    margin-left: 8px;
    cursor: pointer;
    font-weight: bold;
  }
  
  .tag-input {
    border: none;
    flex-grow: 1;
    width: auto;
    /* min-width: 100px; */
    outline: none;
    font-size: 14px;
  }
  
  .tag-input::placeholder {
    color: #ccc;
  }
  
  .tags-container:focus-within {
    border-color: #007bff;
  }

  .tags-option {
    padding: 5px;
    cursor: pointer;
  }
  
  .tags-option:hover {
    background-color: #bebebe;
  }
  