.pos-receipt-print {
    width: 148mm !important; /* changed from 266px to A4 */
    min-height: 210mm !important; /* optional: full A4 height */
    font-size: 11px;
    color: #000000;
    margin: 0 auto !important;
    padding: 4px 0px !important;
}
body {
    font-family: Arial, sans-serif;
    font-size: 11px;
}
h1 {
    font-size: 14px;
    font-weight: bold;
    margin: 2px 0;
}
h4 {
    font-size: 12px;
    margin: 6px 0;
    font-weight: bold;
}
table {
    font-size: 11px;
    border-collapse: collapse;
}
th, td {
    padding: 3px 4px !important;
}