.pos-receipt-print {
    width: 148mm !important; /* changed from 266px to A4 */
    min-height: 210mm !important; /* optional: full A4 height */
    font-size: 11px !important;
    color: #000000 !important;
    margin: 0 auto !important;
    padding: 4mm 0mm !important;
}
h1 {
    font-size: 14px !important;
    font-weight: bold !important;
    margin: 2px 0 !important;
}
h4 {
    font-size: 12px !important;
    margin: 6px 0 !important;
    font-weight: bold !important;
}
.custom-table {
    font-size: 11px !important;
    border-collapse: collapse !important;
}
.custom-th, .custom-td {
    padding: 3px 4px !important;
}