<?xml version="1.0" encoding="UTF-8" ?>
<odoo>
    <data>

        <menuitem id="menu_shariah_law_main"
                  name="Shariah Law"
                  groups="ah_shariah_law.group_shariah_law_admin"
                  web_icon="ah_shariah_law,static/description/icon.png"/>


        <menuitem id="menu_shariah_law"
                  name="Shariah Law"
                  parent="ah_shariah_law.menu_shariah_law_main"
                  action="action_shariah_law"
                  sequence="1"/>

        <menuitem id="menu_shariah_law_eligible_person_conf"
                  name="Eligible Person"
                  parent="ah_shariah_law.menu_shariah_law_main"
                  action="action_shariah_law_res_partner"
                  sequence="50"/>

        <menuitem id="menu_shariah_law_conf"
                  name="Configuration"
                  parent="ah_shariah_law.menu_shariah_law_main"
                  sequence="99"/>


        <menuitem id="menu_shariah_law_account_conf"
                  name="Analytical Account"
                  parent="ah_shariah_law.menu_shariah_law_conf"
                  action="action_shariah_law_account_conf"/>

        <menuitem id="menu_shariah_law_chart_of_account_conf"
                  name="Chart Of Account"
                  parent="ah_shariah_law.menu_shariah_law_conf"
                  action="action_shariah_law_chart_of_account_conf"/>

    </data>
</odoo>