<?xml version="1.0" encoding="UTF-8" ?>
<odoo>
    <data>

        <menuitem id="menu_main_donation_home_service"
              name="Donation Home Service"
              parent="account.menu_finance"/>

        <menuitem id="menu_donation_home_service"
              name="Donation Home Service"
              parent="menu_main_donation_home_service"
              action="action_donation_home_service"/>

        <menuitem id="menu_dhs_account_configuration"
              name="Configuration"
              parent="menu_main_donation_home_service"/>

        <menuitem id="menu_dhs_product_conf"
              name="Product"
              parent="menu_dhs_account_configuration"
              action="action_dhs_product_configuration"/>

        <menuitem id="menu_dhs_coa_conf"
              name="Chart Of Account"
              parent="menu_dhs_account_configuration"
              action="action_dhs_account_configuration"/>

    </data>
</odoo>