<?xml version="1.0" encoding="UTF-8" ?>
<odoo>

      <menuitem id="main_menu_advance_donation"
            name="Advance Donation"
            groups="bn_advance_donation.group_adv_don_menu"
            web_icon="bn_import_donation,static/description/icon2.png"
            />

      <menuitem id="menu_advance_donation"
            name="Advance Donation"
            parent="main_menu_advance_donation"
            groups="bn_advance_donation.group_adv_don_menu"
            action="action_advance_donation"/>

      <menuitem id="menu_advance_donation_receipt"
            name="Donation Receipt"
            parent="main_menu_advance_donation"
            groups="bn_advance_donation.group_adv_don_menu"
            action="action_advance_donation_receipt"/>

</odoo>